.container-fluid{
    text-align: center;
    background-color:rgb(60, 4, 4);
    height: 30%;
    padding-left: 5px;
    color: white;
   font-family:"Fugaz One";
   background-image: linear-gradient(to left,rgb(67, 5, 10),rgb(204, 201, 12));
}
.result{
    display: none;
    background-image: linear-gradient(to left,rgb(59, 10, 29),rgb(72, 19, 152));
}
#btn{
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left,rgb(183, 11, 51),rgb(59, 242, 68)); 
}
#resetbtn{
    height: 30px;
    border-radius: 5px;
    background-image: linear-gradient(to left,rgb(83, 11, 183),rgb(188, 214, 54)); 

}
#searchtext{
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(to left,rgb(7, 55, 66),rgb(236, 235, 235)); 
}


.container{
    color:black;
    display: inline-block;
    height: 500px;
    width: 300px;
    
}
body{
    background-image: linear-gradient(to left,rgb(17, 168, 82),rgb(183, 161, 36));    
}
